#input-parent {
  position: relative;
}

#input-parent input {
  border-radius: 5px;
}

#result {
  position: absolute;
  top: 36px;
  width: 100%;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.img {
  text-align: center;
  margin-top: 20px;
}

.img img {
  width: 350px;
  height: auto;
}